// Topics to discuss:
// - Better code organization with partials
// - overwrite default values (!default keyword)
// so called "at-rules"
// partials and module pattern
// @import in Sass vs CSS
// @import can be used with plain CSS files
// why should we use @use instead of @import

//Exercises:
// 1) Use modules: variables, mixins and clasess
// 2) Apply aliasing for the modules
// 3) Overwrite module's variables default values

body {
  background-image: url("walpaper.jpg");
  background-size: cover;
  
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  header {

    border: {
      bottom: 1px solid;
      color: lightgray;
    }

    padding: 10px;
  }

  .content {
    font-size: 18px;
    padding: 10px;
  }

  footer {
    border: {
      top: 1px solid;
      color: lightgray;
    }

    color: #94979e;
    font-size: 12px;
    text-align: right;
    padding: 10px;
  }
}
