%base-header {
    font: {
        weight: bold;
        size: 24px;
        color: #535559;
    }
}

%base-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Arial, Helvetica, sans-serif;
    color:  #535559;
    background-color: white;
    width: 400px;

    border: {
        width: 1px;
        style: solid;
        color: lightgrey;
        radius: 10px;
    }
}