$border-color: lightgrey !default;
$content-text-color: #535559 !default;
$footer-text-color:#94979e !default;
$card-background-color: white !default;
$card-shadow-parameters: 3px 3px 5px 6px lightgrey !default;