$border-color: lightgrey;
$content-text-color: #535559;
$footer-text-color:#94979e;
$card-shadow-parameters: 3px 3px 5px 6px lightgrey;

//map
$card-border-style: ("width": 1px, "style": solid, "color": lightgray, "radius": 10px);